<div class="pantalla-inicio">
    <img src="/fondo.jpg" alt="Fondo" class="fondo-imagen" />
</div>
<div class="fullscreen-container">
    <div class="login-box">
        <div class="logo">
            <img src="/logo.png" class="redondo">
        </div>
        <h3 class="h3">Inicio de sesion</h3>

        <form (ngSubmit)="onSubmit()">
            <div class="input form-floating py-2">
                <input type="text" class="form-control" placeholder="" name="username" [(ngModel)]="username" required>
                <label>Usuario</label>
            </div>
            <div class="input form-floating py-2">
                <input type="password" class="form-control" placeholder="" name="password" [(ngModel)]="password"
                    required>
                <label>Contraseña</label>
            </div>
            <!-- Inputs con binding bidireccional [(ngModel)]
            <input type="text" ... name="username" [(ngModel)]="username" required>
            El input de texto para el usuario está ligado a la variable username del componente.
            Lo mismo para la contraseña con password.

            [(ngModel)] es two-way binding: cuando el usuario escribe, se actualiza la variable y viceversa. -->
                <div *ngIf="mensaje" class="alert alert-danger mt-2" role="alert">
                {{ mensaje }}
            </div>
            <button class="btn btn-danger w-100 py-2" type="submit">Iniciar sesion</button>
        </form>
    </div>
</div>

<!-- [(ngModel)]="username"	Conecta el input con la variable username en TS
(ngSubmit)="onSubmit()"	Llama a la función onSubmit() al enviar el formulario
*ngIf="mensaje"	Muestra el mensaje de error si existe
Botón submit	Envía el formulario para procesar el login -->